<!-- <div class="row h-100">
    <div class="col-2" id="app-logo-container">
        <img class="app-logo" (click)="redirectToHome()" src="assets/images/favicon.png" alt=""/>
    </div>
    <div class="col-7" id="top-nav-bar-container">
        <ul class="nav nav-bar">
            <li class="nav-item" *ngFor="let nav of navItems" [routerLink]="nav.link">{{nav.label}}</li>
        </ul>
    </div>
    <div *ngIf="isHavingUserInfo()" class="col-3" id="user-info-container">
        <label class="username-tag"
        [popover]="popTemplate"
        [outsideClick]="true" placement="bottom" container="body">
        <span class="user-badge  alert-primary">U</span>
        <span class="username"> {{loggedInUserData?.user?.name}}</span>
        </label>

    </div>
</div> -->

<nav class="row navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand " href="#">  <img class="app-logo" (click)="redirectToHome()" src="assets/images/favicon.png" alt=""/></a>
    <button class="navbar-toggler" (click)="toggleClassOnBody()" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let nav of navItems" >
          <a class="nav-link" [routerLink]="nav.link">{{nav.label}}</a>
        </li>
      </ul>
    </div>
    <div *ngIf="isHavingUserInfo()" class="col-3" id="user-info-container">
            <label class="username-tag"
            [popover]="popTemplate"
            [outsideClick]="true" placement="bottom" container="body">
            <span class="user-badge  alert-primary">U</span>
            <span class="username"> {{loggedInUserData?.user?.name}}</span>
            </label>
    
        </div>
  </nav>

<ng-template #popTemplate>
    <ul class="nav">
        <li class="nav-item username"> {{loggedInUserData?.user?.name}}</li>
        <li class="nav-item">Profile</li>
        <li class="nav-item" (click)="doSignOut()">Signout</li>
    </ul>
</ng-template>