<div class="project-creation-container">
    <div class="top-nav-bar">
        <button class="btn btn-primary btn-cancel" (click)="redirectToProject()"> Cancel</button>
    </div>
    <form [formGroup]="projectForm" (ngSubmit)="createProject()">
        <div class="container mt-5">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Create New Project</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="container">
                        <div class="form-group">
                            <mat-form-field appearance="outline">
                                <mat-label>Project Name</mat-label>
                                <input matInput formControlName="project_name" placeholder="Enter project name">
                                <mat-error *ngIf="getControl('project_name')?.errors?.required">Should not be blank..</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="outline">
                                <mat-label>Location</mat-label>
                                <input matInput formControlName="location" placeholder="Search nearest location"
                                autocorrect="off" autocapitalize="off" spellcheck="off"
                                (keydown.enter)="$event.preventDefault()"
                                type="text" #search>
                                <mat-error *ngIf="getControl('location')?.errors?.required">Should not be blank..</mat-error>
                            </mat-form-field>
                        </div>

                        <div id="map-container" class="form-group">
                            <agm-map #agmMap [latitude]='latitude' [longitude]='longitude' [zoom]='zoom'
                            >
                            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                                (dragEnd)="markerDragEnd($event)"></agm-marker>
                            </agm-map>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="container mt-5">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Verify Building Info</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="container">
                        <div class="form-group">
                            <label class="w-100">Project Type</label>
                            <div class="project-type-btn-groups">
                                <mat-button-toggle-group (change)="updateProjectType($event)" name="fontStyle" aria-label="Font Style">
                                    <mat-button-toggle *ngFor="let type of projectTypes" [value]="type.typeId">
                                        <span *ngIf="project_type == type.typeId" class="material-icons">check</span>
                                        {{type.label}}
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="outline">
                                <mat-label>Notes</mat-label>
                                <textarea matInput
                                formControlName="notes"
                                cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="4"
                                cdkAutosizeMaxRows="10"></textarea>
                                <mat-error *ngIf="getControl('notes')?.errors?.required">Should not be blank..</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="container mt-5">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Payment</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div formGroupName="payment" class="container">
                        <div class="form-group">
                            <mat-form-field appearance="outline">
                                <mat-label>Credit/Debit Card Number</mat-label>
                                <input matInput  mask="0000 0000 0000" formControlName="card_number" placeholder="Enter your card number">
                                <mat-error *ngIf="getControl('card_number')?.errors?.required">Should not be blank..</mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="form-group">
                            <mat-form-field appearance="outline">
                                <mat-label>Month</mat-label>
                                <input type="number" mask="00" matInput formControlName="card_month" placeholder="MM">
                                <mat-error *ngIf="getControl('card_month')?.errors?.required">Should not be blank..</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field appearance="outline">
                                <mat-label>Year</mat-label>
                                <input type="number" mask="00" matInput formControlName="expire_year" placeholder="YY">
                                <mat-error *ngIf="getControl('expire_year')?.errors?.required">Should not be blank..</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field appearance="outline">
                                <mat-label>CVV</mat-label>
                                <input type="password"  mask="000" matInput formControlName="card_cvv" placeholder="Enter CVV ">
                                <mat-error *ngIf="getControl('card_cvv')?.errors?.required">Should not be blank..</mat-error>
                            </mat-form-field>
                        </div>

                        <button type="submit" class="w-100" mat-raised-button color="primary">
                            Create Project
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </form>
</div>