<div id="roof-app-header">
  <app-nav-bar></app-nav-bar>
</div>
<div id="roof-app-body">
  <div *ngIf="enableThemeInfo()" class="container app-theme-info">
    <div class="row m-0">
        <div class="col-sm-12 p-0">
            <div class="app-theme-info-container">

                <img class="app-theme-logo" src="assets/images/rf-logo.png" alt="Roof Diagram Logo">
                <h1 class="app-theme-text u-h3">
                  <span class="app-theme-text-top">WE ENSURE YOUR ROOF MEASUREMENT EXPERIENCE</span> <br> <strong>IS EASY TO USE AND
                        COST EFFECTIVE</strong> <span><a routerLink="register"> Sign Up for Free</a></span></h1>

            </div>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"></ngx-spinner>