<div class="purchase-container">
  <div class="container mt-5">
  <mat-card class="main-container">
    <div class="main-content-container pb-5">
      <div><h3 class="report-header mb-5">Select a Report Type</h3></div>
      <div class="card-container row">
        <div class="col-4" *ngFor="let purchaseType of purchaseTypes; let index = index">
          <mat-card class="card-element" >
            <div class="icon-container purchase-type-{{index+1}}">
              <span class="material-icons">{{purchaseType.iconClass}}</span>
            </div>
            <div class="purchase-type-info">{{purchaseType.priceDescription}}</div>
            <div><span class="currency">{{purchaseType.price}}</span> /month </div>
            <div class="user-limit">MAX {{purchaseType.userCount}} </div>
            <hr>
            <div class="purchase-features">
              <p *ngFor="let itemDesc of purchaseType.description">{{itemDesc}}</p>
            </div>
            <button mat-raised-button class=" mt-3 pay-btn purchase-type-{{index+1}}" (click)="doPayment()">Make Payment</button>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>
  </div>
</div>