/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #EFF3F6 !important; }
body { margin: 0; font-family: "Source Sans Pro", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


strong{
    color: #354052 !important;
}

a{
    transition: color 0.15s ease-in-out;
    background-color: transparent;
    color: #2ea1f8;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        color: #2ea1f8 !important;
    }
}

button{
    background: linear-gradient(to bottom, #1a98f7, #1485db);
    outline: 0 !important;
}

mat-form-field:not(.mat-paginator-page-size-select){
    width: 100%;
    &:not(.mat-form-field-invalid){
        .mat-form-field-wrapper{
            padding-bottom: 0 !important;
        }
    }
    .mat-form-field-outline-gap, .mat-form-field-outline-start, .mat-form-field-outline-end{
        border-width: 1px !important;
    }
}


mat-tab-header{
    background-color: #fff;
    padding-top: 20px;
    padding-left: 60px;
    border-top: solid 1px #eee;
}

.mat-tab-body-wrapper{
    margin: 50px 60px;
    background-color: #fff;
    padding: 25px;
}

app-view-project{
    .mat-tab-body-content{
        padding: 10px 33px;
    }
    .mat-tab-body-wrapper{
        margin: 0 !important;
    }
}

.mat-tab-body-content{
    overflow: hidden !important;
    padding: 10px;
}

.mat-tab-label{
    border-bottom: solid 1px #aaa;
    &.mat-tab-label-active {
        border: solid 1px #aaa;
        border-bottom: none;
        opacity: 1 !important;
    }
}

mat-ink-bar{
    top: 0;
}


.popover-content.popover-body{
    .nav-item{
        width: 100%;
        border-bottom: solid 1px #eee;
        padding: 5px 10px;
        cursor: pointer;
        &:hover{
            background-color: #eee;
        }
    }
}

//setting common height for Google Maps
agm-map{
    height: 350px;
}

.top-nav-bar{
    min-height: 60px;
    background-color: #fff;
    border-top: solid 1px #eee;
    align-items: center;
    display: flex;
    justify-content: flex-end;     
    button{
        font-size: 0.75rem;
        min-width: 120px;
        outline: 0 !important;
    }  
}

.new-project{
    background: #34a544 !important;
    font-size: 0.75rem;
    min-width: 120px;
    outline: 0 !important;
    border: 0;
    &:hover, &:active{
        color: #fff !important;
    }
}

.add-project{
    display: none;
}

@media only screen and (max-width: 399px) {
    mat-tab-header{
        padding-right: 60px !important;
        padding-left: 1px !important;
    }

    .new-project{
        display: none;
    }

    .add-project{
        display: block;
        height: 30px;
        width: 30px;
        margin-top: 7px;
    }
}

@media screen and (min-width: 400px) and (max-width: 599px) {
    mat-tab-header{
        padding-right: 60px !important;
        padding-left: 1px !important;
    }

    .new-project{
        display: none;
    }

    .add-project{
        display: block;
        height: 30px;
        width: 30px;
        margin-top: 7px;
    }
}